.product-card {
    border: 2px solid gray;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
    list-style: none;
    /* box-shadow: 2px 0 0 2px black; */
    cursor: pointer;
}

.product-card span {
    display: block;
}